.squre{
    width:100vw;
    height: 98vh;
    background-color: rgb(100, 194, 194);
    color: black;
}
body{
    margin: 0%;
    padding: 0%;
}
.center{
    justify-content: center;
}
.midbox{
    width: 80vw;
    height: 80vh;
    margin: 20px;
    padding: 0px 0px 0px 20px;
    background-color: rgb(103, 145, 174);
    margin-left: 130px;
    display: flex;
}
.smallbox{
    width: 15vw;
    height: 30vh;
    background-color:rgb(32, 130, 132) ;
    align-items: center;
    margin-top: 100px;
    margin-left: 80px;
    justify-content: center;
    display: flex;
    border-radius: 10px;

}
.circle{
    height:20vh ;
    width: 10vw;
    border-radius: 50%;
}
.seats{
    height: 10vh;
    width: 100%;
    background-color: rgb(15, 15, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.box{
    height: 500px;
    width: 900px;
    background-color: rgb(63, 151, 175);
    margin-top: 30px;
    margin-left: 10px;
}
.input{
    height: 30px;
    
    width: 400px;
}
.table{
    margin-top: 30px;
    margin-left: 50px;
}
.button{
    height: 100px;
    width: 800px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.submit{
    width: 70px;
    height: 40px;
    background-color: black;
    color:White;
    margin-left:50px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.submit :hover{
    cursor: pointer;
}